* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    font-size: 16px;

    margin-top: 3em;
}

#aboutMe {
    text-align: left;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #F6F6F6;
}

header {
    padding: 2em 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    text-align: center;
    color: #610551;
}

header span {
    font-size: 1.5em;
    color: #999;
}

img.left {float: left;}

Nav {
    color: #999;
    display: flex;
    align-items: column;
    z-index: 2;
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    background: #333;
    height: 3rem;
    
    
    }
    Nav__Items{
        display:none;
        
    }
    Nav__ToggleShow{
      display: flex;
    }
    Nav__Link-toggle {
        display:flex;
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
      
    }

nav a {
    padding: .53em 2em;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background: #666;
}

section {
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}

section > p {
    margin: 1em 0;
}


  

section ul {
    padding-left: 1.5em;
    list-style-type: circle;
}

#myWork {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

#slider ::selection {
    color: inherit;
    background: transparent;
  }
 
  
  #slider-frame {
    border: 1px solid var(--lavlt);
    border-radius: 1px;
    box-shadow: 0 0 5px #333;
    position: relative;
  }
  
  #slider-prev,
  #slider-next {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 0;
    display: flex;
    padding: 1em;
    color: #610551;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 0 2px #000;
    transition: 0.5s;
    cursor: pointer;
  }
  
  #slider-prev:hover,
  #slider-next:hover {
    background:#999;
  }
  
  #slider-prev {
    left: 0;
    flex-direction: row;
    align-items: center;
  }
  
  #slider-next {
    right: 0;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  #slider-frame {
    background: #333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15rem;
    height: 15rem;
  }
  
  #slider-frame [data-src] {
    display: none;
  }
  
  #slider-caption {
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    text-align: center;
    transition: 0.5s;
    width: 15rem;
  }
  
  #slider-caption.flash {
    transition: 0s;
    background: #fff;
  }
  #backdrop{
    display: none;
    height: 100vw;
    width: 100vw;
    position:fixed;
    top:0;
    left:0;
    background-color: #333333;
  }
  #backdrop.open{
    display: block;
  }
  #modal{
    margin: 3em;

  }


footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

