* {
    font-family: 'Didact Gothic';
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    font-size: 16px;
    margin-top: 3em;
}

body{
  background-image: linear-gradient( #C0B3A0, #22252c);
}

#disc {
  font-style: bold;
  font-family: 'Didact Gothic';
}

#aboutMe {
    text-align: left;
    color: #fff;
    text-shadow: -1px 0 black;
    background-color:#22252c;
}

#contactMe {
  color: #fff;
  text-shadow: -1px 0 black;
  background-image: linear-gradient(#22252c, #282a30);
  float: center;
}

#myWork {
  padding: 0;
  background-image: linear-gradient (#7c766e, #22252c);
  
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.image{
  object-fit: cover;
  display: block;
}
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.flex-container:hover .overlay {
  opacity: 30;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 1000px;
    
}

img {
  width: 200px;
  height: 400px;
  object-fit: cover;
}


header {
    padding: 2em 0;
    text-align: center;
}

header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-align: center;
    color: #22252c; 
}

h2 {
    text-align: center;
    color: #E14658;
}

header span {
    font-size: 1.5em;
    color: #999;
}

img.left {float: left;}

Nav {
    color: #fff;
    display: flex;
    align-items: column;
    z-index: 2;
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    background: #22252c;
    height: 3rem;
    
    }

.topNavRight{
  display: flex;
    float: right;
    }
  
.Nav__Items{
        display:none;
        
    }
.Nav__ToggleShow{
      display: flex;
    }
.Nav__Link-toggle {
      display:flex;
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
      
    }


nav a {
    float:left;
    text-align: center;
    padding: .53em 2em;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background: #666;
}

.navTitle {
  color: #E14658;
  font-style: bold;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



section {
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}

section > p {
    margin: 1em 0;
}

.slideshow-container{
  table-layout: fixed;
  width: 400px;
  padding: 2em;
  align-items: center;
  float: left;
}

.column2{
  table-layout: fixed;
  width: 600px;
  padding: 2em;
  text-align: left;
  float:center;
}


section ul {
    padding-left: 1.5em;
    list-style-type: circle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}



#slider ::selection {
    color: inherit;
    background: transparent;
  }
 
  
  #slider-frame {
    border: 1px #000;
    border-radius: 1px;
    box-shadow: 0 0 5px #fff;
    position: relative;
  }
  
  #slider-prev,
  #slider-next {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 0;
    display: flex;
    padding: 1em;
    color: #610551;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 0 2px #000;
    transition: 0.5s;
    cursor: pointer;
  }
  
  #slider-prev:hover,
  #slider-next:hover {
    background:#999;
  }
  
  #slider-prev {
    left: 0;
    flex-direction: row;
    align-items: center;
  }
  
  #slider-next {
    right: 0;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  #slider-frame {
    background: #F6F6F6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15rem;
    height: 15rem;
  }
  
  #slider-frame [data-src] {
    display: none;
  }
  
  #slider-caption {
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    text-align: center;
    transition: 0.5s;
    width: 15rem;
  }
  
  #slider-caption.flash {
    transition: 0s;
    background: #fff;
  }
  #backdrop{
    display: none;
    height: 100vw;
    width: 100vw;
    position:fixed;
    top:0;
    left:0;
    background-color: none;
  }
  #backdrop.open{
    display: block;
  }
  #modal{
    margin: 3em;

  }


footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

